.card__image {
  height: 282px;
  object-fit: cover;
  width: 100%;
}

.card__image:hover {
  cursor: pointer;
}


/* fade in card images */
.card__image {
  opacity: 0;
  transition: opacity .3s ease;
}
.card__image.card__image--ready {
  opacity: 1;
}
